/* -------------------------------
    Property Single Contact
-------------------------------- */

.pd-details-text .property-contactus {
    h4 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .agent-desc img {
        margin-bottom: 16px;
    }

    .agent-desc .agent-title {
        margin-bottom: 10px;

        h5 {
            font-weight: 600;
        }

        span {
            font-size: 12px;
            color: $theme-lighten-500;
        }
    }
}

.pd-details-text .property-contactus .agent-desc .agent-social {
    margin-bottom: 8px;

    a {
        display: inline-block;
        color: $theme-lighten-500;
        font-size: 14px;
        margin-right: 25px;
    }
}

.pd-details-text .property-contactus .agent-desc p {
    font-size: 14px;
    line-height: 24px;
}

.pd-details-text .property-contactus .agent-contact-form {
    .alert {
        margin: 0;
        margin-bottom: 20px;
        padding: .75rem 1.25rem;

        &.alert-danger {
            color: #721c24;
            background: #f8d7da;
            border: 2px solid #f5c6cb;
        }

        &.alert-success {
            color: #155724;
            background-color: #d4edda;
            border: 2px solid #c3e6cb;
        }
    }

    input {
        width: 100%;
        height: 40px;
        border: 1px solid $theme-lighten;
        margin-bottom: 20px;
        padding-left: 20px;
        background: $theme-lighten-100;
        color: $theme-lighten-500;
        font-size: 14px;

        &.site-btn {
            width: auto;
            padding-left: 30px;
        }
    }

    textarea {
        width: 100%;
        height: 100px;
        border: 1px solid $theme-lighten;
        padding-left: 20px;
        padding-top: 12px;
        background: $theme-lighten-100;
        color: $theme-lighten-500;
        font-size: 14px;
        resize: none;
        margin-bottom: 24px;
    }
}


/* ------------------------------ Responsive Media Styles ------------------------------ */

@include media-breakpoint-down(md) {
    .agent-contact-form {
        padding-top: 20px;
    }
}
