/* -------------------------------
    Single Post Content
-------------------------------- */

.blog-details-section {
    padding-top: 55px;
    padding-bottom: 60px;

    > .container > .row:first-child {
        position: relative;

        > div:first-child {
            position: absolute;
            z-index: 10;
        }
    }
}

.blog-details-section .section-title {
    margin-bottom: 50px;

    h2 {
        margin-top: 0;
    }
}

.blog-details-section .single-blog-item:hover .sb-text h4 a {
    color: $theme-primary;
}

.blog-details-content {
    margin-bottom: 50px;

    > * {
        margin-left: calc(16.66666% + 50px);
        margin-right: 16.66666%;

        &.no-margin {
            margin-left: 0;
        }

        &.full {
            margin-left: 8.333333%;
            margin-right: 8.333333%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    > .blog-details-pic ~ * {
        margin-left: calc(16.66666% + 15px);
    }

    h2,
    h3,
    h4 {
        font-weight: 600;
        margin-bottom: 20px;
    }

    p {
        line-height: 28px;
    }

    ul, ol {
        padding-left: 40px;

        li {
            color: $theme-secondary;
        }
    }

    a:hover {
        color: $theme-primary;
        text-decoration: underline;
    }
}

.blog-details-content .wp-block-quote {
    display: flex;
    align-items: stretch;
    padding-left: 35px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 60px;

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 6px;
        background: $theme-primary;
        content: "";
    }

    p {
        font-size: 18px;
        color: $theme-darken;
        font-weight: 500;
        line-height: 30px;
        font-style: italic;
        margin-bottom: 0;
    }
}

.blog-details-social {
    text-align: center;
    padding-top: 170px;

    h6 {
        margin-bottom: 26px;
    }

    .social-list a {
        display: inline-block;
        font-size: 16px;
        color: $theme-lighten-500;
        width: 40px;
        height: 40px;
        border: 1px solid $theme-lighten;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        margin-bottom: 15px;
        transition: all .3s;

        &:hover {
            background: $theme-primary;
            color: $theme-light;
        }
    }
}

.blog-details-pic {
    margin-bottom: 44px;
    overflow: hidden;

    &.full > ul {
        padding-left: 0;
    }

    .blocks-gallery-grid {
        display: grid;
        list-style-type: none;
        margin: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-flow: dense;

        li {
            width: 100% !important;
            margin: 0;

            &:nth-child(1) {
                grid-column-end: span 1;
                grid-row-end: span 1;
            }

            &:nth-child(2) {
                grid-column-end: span 1;
                grid-row-end: span 1;
            }

            &:nth-child(3) {
                grid-column-end: span 1;
                grid-row-end: span 2;
            }

            &:nth-child(4) {
                grid-column-end: span 2;
                grid-row-end: span 1;
            }

            figure {
                margin-bottom: 0;
            }
        }
    }
}

.blog-more-details {
    margin-bottom: 50px;

    h4 {
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 20px;
    }

    p {
        line-height: 28px;
    }
}



/* ------------------------------ Responsive Media Styles ------------------------------ */

@media (min-width: 600px) {
    .blog-details-pic .blocks-gallery-grid li {
        width: 100%;
    }
}

@include media-breakpoint-down(sm) {
    .blog-details-pic .bd-pic-item.wide-item {
        width: 100%;
        margin-top: 0;
    }

    .blog-details-content > *.full {
        margin-left: 0;
        margin-right: 0;
    }
}

@include media-breakpoint-down(md) {
    .blog-details-section > .container > .row:first-child > div:last-child {
        margin-top: 100px;
    }

    .blog-details-content > * {
        margin-left: 0 !important;
        margin-right: 0;
    }

    .blog-details-pic .blocks-gallery-grid {
        display: block;

        li img {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .blog-details-social {
        padding-top: 0;
    }

    .blog-details-social .social-list a {
        margin-right: 6px;
    }
}

@include media-breakpoint-down(sm) {
    .blog-details-pic .bd-pic-item {
        width: 100%;
    }
}
