/* ---------------------
    Agent Section
----------------------- */

.agent-section {
    background: $theme-lighten-100;
    padding-bottom: 55px;
    overflow: hidden;

    .section-title {
        margin-bottom: 30px;
    }
}

.agent-section.about-page {
    background: $theme-light;
}

.agent-section .agent-carousel.owl-carousel .owl-nav button,
.agent-section.about-page .agent-carousel.owl-carousel .owl-nav button {
    color: $theme-primary;
    border-radius: 0;
    border-color: $theme-lighten-300;

    &[type=button] {
        width: 26px;
        height: 60px;
        border: 2px solid $theme-lighten;
        display: inline-block;
        font-size: 18px;
        color: $theme-lighten-500;
        border-radius: 2px;
        position: absolute;
        left: -42px;
        top: 50%;
        transform: translateY(-30px);
        transition: all .4s;

        &.owl-next {
            left: auto;
            right: -42px;
        }

        &:hover {
            background: $theme-secondary;
            color: $theme-light;
            border-color: $theme-secondary;
        }
    }
}

.agent-carousel {
    .owl-stage-outer {
        padding-bottom: 45px;
        padding-top: 20px;
    }

    &.owl-carousel .owl-item img {
        display: inline-block;
    }

    .col-lg-3 {
        max-width: 100%;
    }
}

.agent-carousel .single-agent {
    text-align: center;
    background: $theme-light;
    box-shadow: 0 8px 15px 5px rgba(12, 35, 34, .05);
    padding: 40px 0;
    transition: all .3s;

    &:hover {
        box-shadow: 0 4px 15px rgba(12, 35, 34, .2);
    }
}

.agent-carousel .single-agent:hover .sa-pic .hover-social a {
    &.twitter {
        right: -15px;
        opacity: 1;
        visibility: visible;
    }

    &.instagram {
        right: -15px;
        opacity: 1;
        visibility: visible;
    }

    &.facebook {
        bottom: 6px;
        opacity: 1;
        visibility: visible;
    }
}

.agent-carousel .single-agent .sa-pic {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;

    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
}

.agent-carousel .single-agent .sa-pic .hover-social {
    position: absolute;
    right: 0;
    bottom: 0;

    a {
        display: inline-block;
        color: $theme-light;
        font-size: 18px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        background: $theme-darken;
        border-radius: 50%;

        &.twitter {
            background: $twitter;
            position: absolute;
            right: -40px;
            bottom: 100px;
            transition: all .2s ease .2s;
            opacity: 0;
            visibility: hidden;
        }

        &.instagram {
            background: $instagram;
            position: absolute;
            right: -40px;
            bottom: 50px;
            transition: all .4s ease .4s;
            opacity: 0;
            visibility: hidden;
        }

        &.facebook {
            background: $facebook;
            position: absolute;
            right: 15px;
            bottom: -4px;
            transition: all .6s ease .6s;
            opacity: 0;
            visibility: hidden;
        }
    }
}

.agent-carousel .single-agent h5 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;

    a {
        color: inherit;
    }

    span {
        display: block;
        font-size: 14px;
        color: $theme-lighten-500;
        font-weight: 400;
        margin-top: 12px;
    }
}


/* ------------------------------ Responsive Media Styles ------------------------------ */

@include media-breakpoint-only(lg) {
    .agent-carousel.owl-carousel .owl-nav,
    .top-properties-carousel.owl-carousel .owl-nav {
        position: relative;
        text-align: center;

        button[type=button] {
            position: relative;
            transform: translateY(0);
            left: 0 !important;
            margin: 0 10px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .agent-carousel.owl-carousel .owl-nav,
    .top-properties-carousel.owl-carousel .owl-nav {
        position: relative;
        text-align: center;

        button[type=button] {
            position: relative;
            transform: translateY(0);
            left: 0 !important;
            margin: 0 10px;
        }
    }
}
