/* -----------------------
    Header
----------------------- */

.canvas-open {
    display: none;
}

.offcanvas-menu-wrapper {
    display: none;
}

.header-section.header-normal .nav-logo {
    position: relative;
    z-index: 9;
    box-shadow: 0 0 15px 5px rgba(44, 44, 44, .2);
}

.top-nav {
    background: $theme-darken;

    .main-menu ul {
        margin-bottom: 0;

        li {
            list-style: none;
            display: inline-block;
            margin-right: 45px;

            &:last-child {
                margin-right: 0;
            }

            &.active a {
                color: $theme-primary;
            }

            a {
                font-size: 14px;
                color: $theme-light;
                font-weight: 500;
                text-transform: uppercase;
                display: inline-block;
                padding: 20px 0;
                transition: all .3s;

                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}

.top-nav .top-right {
    text-align: right;

    .language-option {
        display: inline-block;
        margin-right: 25px;
        position: relative;
        cursor: pointer;
        padding: 18px 0 19px;

        img {
            margin-right: 2px;
        }

        span {
            font-size: 14px;
            color: $theme-light;
            display: inline-block;
            margin-right: 2px;
        }

        i {
            color: $theme-light;
            font-size: 13px;
        }
    }
}

.top-nav .top-right .language-option:hover .flag-dropdown {
    top: 50px;
    opacity: 1;
    visibility: visible;
}

.top-nav .top-right .language-option .flag-dropdown {
    position: absolute;
    right: 0;
    top: 70px;
    background: $theme-light;
    min-width: 130px;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    border: 1px solid $theme-lighten-300;
}

.top-nav .top-right .language-option .flag-dropdown ul li {
    list-style: none;

    a {
        font-size: 14px;
        color: $theme-darken;
        display: block;
        padding: 10px 15px;
        text-align: left;
        transition: all .3s;

        &:hover {
            color: $theme-primary;
        }
    }
}

.top-nav .top-right .property-sub {
    display: inline-block;
    background: $theme-primary;
    font-size: 14px;
    color: $theme-light;
    padding: 20px 30px;
}

.nav-logo .logo {
    padding: 36px 0;

    a {
        display: inline-block;
    }
}

.nav-logo .nav-logo-right {
    text-align: right;

    ul li {
        list-style: none;
        display: inline-block;
        margin-left: 45px;
        padding: 25px 0 25px;

        i {
            float: left;
            width: 50px;
            height: 50px;
            display: inline-block;
            text-align: center;
            border: 2px solid $theme-lighten;
            line-height: 45px;
            color: $theme-primary;
            font-size: 20px;
            margin-right: 14px;
        }
    }
}

.nav-logo .nav-logo-right ul li .info-text {
    overflow: hidden;
    text-align: left;

    span {
        font-size: 14px;
        color: $theme-secondary;
        line-height: 15px;
        display: inline-block;
    }

    p {
        color: $theme-darken;
        margin-bottom: 0;
        line-height: 18px;
        margin-top: 4px;

        span {
            color: $theme-secondary;
            font-size: 16px;
        }
    }
}



/* ------------------------------ Responsive Media Styles ------------------------------ */

@include media-breakpoint-only(lg) {
    .top-nav .main-menu ul li {
        margin-right: 40px;
    }

    .nav-logo .nav-logo-right ul li {
        margin-left: 20px;
    }
}

@include media-breakpoint-down(md) {
    .top-nav {
        display: none;
    }

    .nav-logo .nav-logo-right {
        display: none;
    }
}
