/* -----------------------
    Search Form
----------------------- */

.search-form {
    margin-top: -50px;
    z-index: 99;
    position: relative;
}

.search-form-text {
    background: $theme-darken;
}

.search-form-text .search-text {
    display: inline-block;
    font-size: 16px;
    color: $theme-light;
    text-transform: uppercase;
    background: $theme-primary;
    padding: 13px 30px;
    font-weight: 500;

    i {
        margin-right: 4px;
    }
}

.search-form-text .home-text {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: $theme-light;
    text-transform: uppercase;
    padding-left: 30px;

    i {
        margin-right: 4px;
    }
}

.filter-form {
    background: $theme-light;
    padding: 30px;
    box-shadow: 0 0 42px 5px rgba(44, 44, 44, .2);

    .row {
        display: grid;
        row-gap: 15px;
        column-gap: 30px;
    }

    .form-group {
        position: relative;
        display: flex;
        align-items: stretch;
        height: 46px;
        margin-bottom: 0;

        &:last-child input[type=number] {
            margin-right: 0;
        }

        .nice-select,
        input[type=number] {
            width: 100%;
            height: 44px;
            border-radius: 0;
            border: 1px solid #ebebeb;
            line-height: 46px;
            margin-bottom: 20px;
            background: lighten($theme-lighten, 3%);
            color: $theme-secondary;
        }

        label {
            position: absolute;
            display: flex;
            align-items: center;
            font-weight: 600;
            background: lighten($theme-lighten, 3%);
            color: $theme-secondary;
            font-size: 16px;
            height: 44px;
            min-width: 90px;
            padding-left: 14px;
            order: -1;
            transition: color .3s;
            margin: 1px 0 0 1px;
        }

        .nice-select,
        input {
            background: lighten($theme-lighten, 3%);
            color: $theme-secondary;
            padding-left: 96px;
            border: none;

            &.range {
                font-size: 16px;
            }
        }
    }
}


.filter-form .sidebar-btn {
    overflow: hidden;

    .bt-item {
        width: 50%;
        height: 46px;
        float: left;

        input[type=radio] {
            display: none;

            &:checked + label {
                background: $theme-lighten;
                color: $theme-secondary;
            }
        }
    }

    label {
        display: block;
        font-size: 18px;
        margin-bottom: 0;
        font-weight: 600;
        text-transform: uppercase;
        background: $theme-primary;
        color: $theme-light;
        text-align: center;
        cursor: pointer;
        padding: 10px 0 12px;
    }
}

.filter-form .row .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0);
    width: 100%;
    border-radius: 0;
    margin-top: 0;
}


.filter-form .row button.search-btn {
    font-size: 16px;
    height: 46px;
    background: $theme-primary;
    color: $theme-light;
    border: none;
    border: 1px solid $theme-primary;
    cursor: pointer;
}

.ui-widget.ui-widget-content {
    background: $theme-lighten-100;
    height: 4px;
    border: none;
    border-radius: 50px;
}

.ui-slider .ui-slider-range {
    background: $theme-primary;
}

.ui-slider-horizontal .ui-slider-handle {
    width: 14px;
    height: 14px;
    background: $theme-primary;
    border-radius: 50%;
    border: none;
    margin-left: 0;
}


/* ------------------------------ Responsive Media Styles ------------------------------ */

@include media-breakpoint-up(lg) {
    .filter-form .row {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@include media-breakpoint-down(md) {
    .filter-form .form-group {
        width: 100%;
    }

    .filter-form .row .sidebar-btn {
        width: 100%;
        margin-right: 0;

        .bt-item {
            width: 50%;
        }
    }

    .filter-form .row .form-group input {
        margin-right: 0;
        width: 100%;
    }

    .filter-form .row .nice-select,
    .filter-form .row input[type=number] {
        width: 100%;
        margin-right: 0;
    }

    .filter-form .row .nice-select {
        width: 100%;
        margin-bottom: 25px;
    }

    .filter-form .row button.search-btn {
        width: 100%;
    }
}

@include media-breakpoint-down(xs) {
    .search-form {
        margin-top: 0;
    }

    .search-form-text .search-text {
        display: block;
    }

    .search-form-text .home-text {
        display: block;
        padding: 13px 30px;
    }
}
