/* -----------------------
    Search Form
----------------------- */

.search-form {
    margin-top: -50px;
    z-index: 99;
    position: relative;
}

.search-form-text {
    background: $theme-darken;
}

.search-form-text .search-text {
    display: inline-block;
    font-size: 16px;
    color: $theme-light;
    text-transform: uppercase;
    background: $theme-primary;
    padding: 13px 30px;
    font-weight: 500;

    i {
        margin-right: 4px;
    }
}

.search-form-text .home-text {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: $theme-light;
    text-transform: uppercase;
    padding-left: 30px;

    i {
        margin-right: 4px;
    }
}

.filter-form {
    background: $theme-light;
    padding: 30px;
    box-shadow: 0 0 42px 5px rgba(44, 44, 44, .2);
}

.filter-form .first-row .nice-select {
    clear: none;
    width: 247px;
    margin-right: 30px;
    height: 46px;
    background: $theme-lighten-100;
    border-radius: 0;
    border: 1px solid $theme-lighten;
    line-height: 46px;
    margin-bottom: 30px;

    &:after {
        border-bottom: 2px solid $theme-lighten-400;
        border-right: 2px solid $theme-lighten-400;
        height: 8px;
        right: 20px;
        margin-top: -6px;
        width: 8px;
    }

    &:last-child {
        margin-right: 0;
    }

    span {
        font-size: 14px;
        color: $theme-secondary;
    }
}

.filter-form .first-row .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0);
    width: 100%;
    border-radius: 0;
    margin-top: 0;
}

.filter-form .second-row .nice-select {
    clear: none;
    width: 247px;
    margin-right: 30px;
    height: 46px;
    background: $theme-lighten-100;
    border-radius: 0;
    border: 1px solid $theme-lighten;
    line-height: 46px;

    &.open .list {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1) translateY(0);
        width: 100%;
        border-radius: 0;
        margin-top: 0;
    }

    &:after {
        border-bottom: 2px solid $theme-lighten-400;
        border-right: 2px solid $theme-lighten-400;
        height: 8px;
        margin-top: -6px;
        right: 20px;
        width: 8px;
    }

    span {
        font-size: 14px;
        color: $theme-secondary;
    }
}

.filter-form .second-row .price-range-wrap {
    width: 247px;
    float: left;
    margin-right: 30px;

    .price-text {
        margin-bottom: 9px;

        label {
            display: inline-block;
            font-size: 14px;
            color: $theme-secondary;
            margin-bottom: 0;
        }

        input {
            display: inline-block;
            width: 165px;
            font-size: 14px;
            color: $theme-secondary;
            border: none;
            background: transparent;
        }
    }
}

.filter-form .second-row .room-size-range {
    width: 247px;
    float: left;
    margin-right: 30px;

    .price-text {
        margin-bottom: 9px;

        label {
            display: inline-block;
            font-size: 14px;
            color: $theme-secondary;
            margin-bottom: 0;
        }

        input {
            display: inline-block;
            width: 165px;
            font-size: 14px;
            color: $theme-secondary;
            border: none;
            outline: none;
            background: transparent;
        }
    }
}

.filter-form .second-row button.search-btn {
    width: 247px;
    font-size: 16px;
    height: 46px;
    background: $theme-primary;
    color: $theme-light;
    border: none;
    border: 1px solid $theme-primary;
    cursor: pointer;
}

.ui-widget.ui-widget-content {
    background: $theme-lighten-100;
    height: 4px;
    border: none;
    border-radius: 50px;
}

.ui-slider .ui-slider-range {
    background: $theme-primary;
}

.ui-slider-horizontal .ui-slider-handle {
    width: 14px;
    height: 14px;
    background: $theme-primary;
    border-radius: 50%;
    border: none;
    margin-left: 0;
}


/* ------------------------------ Responsive Media Styles ------------------------------ */

@include media-breakpoint-only(lg) {
    .filter-form .first-row .nice-select {
        width: 195px;
    }

    .filter-form .second-row .nice-select {
        width: 195px;
    }

    .filter-form .second-row .price-range-wrap {
        width: 195px;
    }

    .filter-form .second-row .room-size-range {
        width: 195px;
    }

    .filter-form .second-row button.search-btn {
        width: 195px;
    }

    .filter-form .second-row .price-range-wrap .price-text input {
        width: 154px;
    }

    .filter-form .second-row .room-size-range .price-text input {
        width: 160px;
    }
}

@include media-breakpoint-down(md) {
    .filter-form .first-row .nice-select {
        width: 100%;
    }

    .filter-form .second-row .nice-select {
        width: 100%;
        margin-bottom: 25px;
    }

    .filter-form .second-row .price-range-wrap {
        width: 100%;
        margin-bottom: 30px;
    }

    .filter-form .second-row .room-size-range {
        width: 100%;
        margin-bottom: 30px;
    }

    .filter-form .second-row button.search-btn {
        width: 100%;
    }
}

@include media-breakpoint-down(xs) {
    .search-form {
        margin-top: 0;
    }

    .search-form-text .search-text {
        display: block;
    }

    .search-form-text .home-text {
        display: block;
        padding: 13px 30px;
    }
}
