/* --------------------------
    How IT WOrks Section
-------------------------- */

.howit-works {
    padding-top: 95px;
    padding-bottom: 62px;
}

.single-howit-works {
    text-align: center;
    margin-bottom: 20px;

    h4 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 16px;
        margin-top: 32px;
    }
}
